article {
  padding-top: 2%;
  padding-bottom: 2%;
  }

.button-icon {
  margin-left: 10%;
  vertical-align: bottom;
  }

.tag:not(body).is-delete {
  float: right;
  }
.image.is-32x32{
  float: left;
  margin-right: 2%;
  margin-top: 5px;
  }

.container {
  padding: 2%;
  }